<!-- START SECTION HEADINGS -->
<div class="header">
    <div class="header-bottom heading" id="heading">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="../../../../assets/images/logo.svg" alt="realhome">
            </a>
            <button type="button" class="search-button">
                <div class="get-quote">
                    <a href="submit-property.html">
                        <p>Đăng tin</p>
                    </a>
                </div>
            </button>
            <!--<div class="hidden-lg-down">-->
            <!--<a href="#"><i class="fa fa-user"></i> Login</a>-->
            <!--<a href="#"><i class="fa fa-sign-in"></i> Register</a>-->
            <!--</div>-->

            <!-- <button type="button" class="button-menu hidden-lgd-block d-lg-none d-xl-block-up" data-toggle="collapse" data-target="#main-menu"
                aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button> -->

            <!-- <nav id="main-menu" class="collapse">
                <ul>
                    <li>
                        <a href="#ban">Bán</a>
                    </li>
                    <li>
                        <a href="#cho_thue">Cho thuê</a>
                    </li>
                    <li>
                        <a href="#sang_nhuong">Sang nhượng</a>
                    </li>
                    <li>
                        <a href="#shop_5house">Shop 5house</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
</div>
<!-- END SECTION HEADINGS -->