


<!-- START SECTION TOP LOCATION -->
<section class="top-location">
  <div class="container">
  <div class="row">
    <div class="section-title">
      <h2>Tin nổi bật</h2>
    </div>
  </div>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
      <div class="item">
        <a href="#">
          <!-- <div class="homes-content">
                    Nội dung
                </div>

                 -->
          <img src="{{ slide.img }}" alt="home-1" class="img-responsive">

          <div class="tp-caption">
            <h6>Park Ave, New York City</h6>
            <strong>Property For Sale</strong>
            <p>Price:&nbsp; $230,000</p>
          </div>
        </a>
      </div>
    </div>

  </ngx-slick-carousel>
</div>
</section>
<!-- END SECTION TOP LOCATION -->