
<!-- START SECTION SEARCH AREA -->
<section class="main-search-field">
  <div class="container">
    <h3>Find Your Dream House</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar">
          <select>
            <option value="0" selected>Location</option>
            <option value="1">New York</option>
            <option value="2">Los Angeles</option>
            <option value="3">Chicago</option>
            <option value="4">Philadelphia</option>
            <option value="5">San Francisco</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar">
          <select class="div-toggle" data-target=".my-info-1">
            <option value="0" data-show=".acitveon" selected>Property Status</option>
            <option value="1" data-show=".sale">For Sale</option>
            <option value="2" data-show=".rent">For Rent</option>
            <option value="3" data-show=".rent">Sold</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Property Type</option>
              <option value="1">Family House</option>
              <option value="2">Apartment</option>
              <option value="3">Condo</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar">
          <select class="div-toggle" data-target=".my-info-1">
            <option value="0" selected>Beds</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar no-mb">
          <select>
            <option value="0" selected>Baths</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 no-pds">
        <div class="at-col-default-mar no-mb">
          <input class="at-input" type="text" name="min-area" placeholder="Square Fit">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 b-search__main-form label">
        <input type="text" disabled class="slider_amount m-t-lg-30 m-t-xs-0 m-t-sm-10">
        <div class="slider-range"></div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="at-col-default-mar no-mb">
          <button class="btn btn-default hvr-bounce-to-right" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SECTION SEARCH AREA -->

	<!-- START SECTION FEATURED PROPERTIES -->
	<section class="featured portfolio">
		<div class="container">
			<div class="row">
				<div class="section-title col-md-5">
					<h3>Featured</h3>
					<h2>Properties</h2>
				</div>
			</div>
			<div class="row portfolio-items">
				<div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">
					<div class="homes">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale">For Sale</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="properties-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-lg-4 col-md-6 col-xs-12 people rent">
					<div class="homes">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale rent">For Rent</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="car-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-lg-4 col-md-6 col-xs-12 people landscapes sale">
					<div class="homes">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale">For Sale</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="properties-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-lg-4 col-md-6 col-xs-12 people landscapes rent no-pb">
					<div class="homes no-mb">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale rent">For Rent</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="properties-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-lg-4 col-md-6 col-xs-12 people sale no-pb">
					<div class="homes no-mb">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale">For Sale</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="properties-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-lg-4 col-md-6 it2 col-xs-12 web rent no-pb">
					<div class="homes no-mb last">
						<!-- homes img -->
						<a href="properties-details.html" class="homes-img added-effect">
							<div class="homes-tag button alt featured">Featured</div>
							<div class="homes-tag button sale rent">For Rent</div>
							<div class="homes-price">Family Home</div>
							<img src="../../../assets/images/fp-1.jpg" alt="home-1" class="img-responsive">
						</a>
						<!-- homes content -->
						<div class="homes-content">
							<!-- homes address -->
							<h3 class="homes-address mb-3">
                                <a href="properties-details.html">
                                    <i class="fa fa-map-marker"></i><span>Park Ave, New York City</span>
                                </a>
                            </h3>
							<!-- homes List -->
							<ul class="homes-list clearfix">
								<li>
									<i class="fa fa-bed" aria-hidden="true"></i>
									<span>Beds 6</span>
								</li>
								<li>
									<i class="fa fa-bath" aria-hidden="true"></i>
									<span>Baths 3</span>
								</li>
								<li>
									<i class="fa fa-object-group" aria-hidden="true"></i>
									<span>720 sq ft</span>
								</li>
							</ul>
							<!-- Price -->
							<div class="price-properties">
								<h3 class="title mt-3">
                                <a href="properties-details.html">$ 230,000</a>
                                </h3>
								<div class="compare">
									<a href="#" title="Compare">
										<i class="fas fa-exchange-alt"></i>
									</a>
									<a href="#" title="Share">
										<i class="fas fa-share-alt"></i>
									</a>
									<a href="#" title="Favorites">
										<i class="fa fa-heart-o"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END SECTION FEATURED PROPERTIES -->