html{
    overflow-x:hidden; 
}
.heading  {
    background: #0098ef;
    padding: 1px;
}
.heading .container {
    justify-content: space-between;
}

.heading .logo img {
    max-height: 45px;
}

.header-bottom .social-icons i {
    line-height: 26px;
    font-size: 1.2rem;
    margin-right: 1rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.get-quote {
    background: none;
    padding: 0.2rem 1rem;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 1.125rem;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.get-quote:hover {
    background: none;
    color: #000 !important;
    font-size: 1.25rem;
}

#main-menu {
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#main-menu ul li {
	max-height: 48px;
}
#main-menu ul li a.active,
#main-menu ul li a:hover {
    background: none !important;
    border-radius: none !important;
	border-bottom: 2px solid #fff;
}
#main-menu ul a:hover,
#main-menu ul li.active a {
  color: #fff !important; 
}

.main-search-field {
    width: 100%; 
    height: auto;
    align-items: center;
    padding: 0;
}

.banner-qc{
    background-repeat: no-repeat; 
    background-image: url("../../images/slider-1.jpg"); 
    background-size: cover;
    background-position: center center;  
    width: 60%;
    height: 80px;
    margin-top: 10px;
}
.main-search {
    padding: 10px 0px;

}

.map-search-field {
    background-color: rgba(0, 0, 0, 0.6);
    width: 15%;
    height: auto;
    border-radius: 3px;
    margin-left: 5px;
}

.main-search .hvr-bounce-to-right {
    background: #0098EF;
    border-radius: 0px 3px 3px 0px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 11px 0;
    margin: 10px 0 0 0;
    line-height: 1;
    text-align: center;
    text-transform: none;
    font-size: 1.125rem;
    font-weight: 600;

}

@media screen and (max-width: 991px) {
    .heading {
        background: #0098ef;
    }

    .main-search .hvr-bounce-to-right {
        margin-bottom: 10px;
        border-radius: 3px;
        order: 2;
    }

    .rui-input{
        border-radius: 3px !important;
    }

    .filter-bar-group{
        order:1;
    }

    .search-btn-col{
        order:2;
        padding-left: 15px !important;
    }
    .input-col{
        padding-right:15px !important;
    }
    
}

.input-col{
    padding-left:15px !important;
}
.search-btn-col{
    padding-right: 15px !important;
}

.main-search .hvr-bounce-to-right:hover {
    background: #0098EF;
    color: #000;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.main-search h3 {
    margin: 0px 0px 15px !important;
    font-size: 22px;
    font-weight: 600;
}

.main-search .active {
    color: #000;
    border-bottom: #0098EF 2px solid;
    font-weight: 700
}
.search-box{
    background: #f4f4f4;
    border-radius: 0 0 3px 3px;
}

.search-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 49%;
    left: 25px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #565f73;
}

.search-channel-container{
    border-radius: 3px 3px 0 0;
    border: 1px #ccc solid;
    display: flex;
}

.rui-input {
    padding: 5px 40px 6px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #ccc;
    margin: 10px 0;
}


.rui-search-tab {
    display: inline-block;
    padding: 10px 0;
    line-height: 1;
    font-size: 1rem;
    font-family: Museo-Sans-300, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    color: #9b9b9b;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    flex: auto;
    text-transform: uppercase;
}

.rui-search-tab:hover {
    color: #000;
    border-bottom: #0098EF 2px solid;
    font-weight: 700
}

.filter-bar {
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 768px) {
    .filter-bar .ng-select{
        width: 100%;
    }
    .filter-bar .ng5-slider{
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .filter-bar-slider .view-slider,
    .filter-bar .ng-select{
        width: 100%;
    }
}

.filter-bar-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-bar-slider .view-slider{
    width: 100%;
}

/* .filter-bar .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.filter-bar .ng-select.ng-select-multiple .ng-select-container .ng-value-container{
    min-width: 0;
    max-height: 34px; 
} */

.filter-bar .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value,
.filter-bar .ng-select-container .ng-value-container .ng-value .ng-value-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .ng-select-container .ng-value-container .ng-placeholder{
    padding-top: 1px;
}

.filter-bar .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    border: none;
    background: none;
    font-size: inherit;
    margin-bottom: 0;
}


section.top-location {
    padding: 2rem 0 5rem 0 !important;
}

.top-location .section-title {
    padding-left: 35px;
    margin-left: 15px;
    position: relative;
    left: 0;
    margin-bottom: 2.5rem;
    text-align: left;
}

.top-location .section-title h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.top-location .homes-content {
    padding: 0 20px 20px 20px !important;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.top-location a:hover {
    text-decoration: none !important;
}

.top-location .button {
    font-size: 13px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 2px;
    color: #fff;
    border: none;
    background-color: #0098ef;
    display: inline-block;
}

.top-location .item {
    margin:1%;
}

.top-location .item:after {
    background: none;
}

.top-location .tp-caption{
    background-color: rgba(0, 0, 0, 0.5);
}

.top-location .tp-caption h6{
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    justify-content: flex-end; */
    font-size: 1.1rem;
}
/* 

.multiselect {
    width: auto;
}

.selectBox {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    color: #fff;
    font-size: 14px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
    border: none;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#district-filter-item,
#street-filter-item,
#min-price-filter-item,
#max-price-filter-item,
#acreage-filter-item,
#number-room-filter-item,
#direction-filter-item,
#checkboxes {
    display: none;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 0;
    margin-top: 9px;
    margin-left: 20px;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
    position: absolute;
}

#checkboxes label {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    padding-right: 10px;
}

#checkboxes label:hover {
    background-color: #E8F0FC;
}

.checkbox-dropdown {
    margin-left: 3px;
}


.label-text {
    padding-left: 5px;
    font-size: 15px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#checkboxes input {
    position: relative !important;
    appearance: none;
    margin: 5px 10px;
    box-sizing: content-box;
    overflow: hidden;
}

.list-unstyled {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: -30px;
}

.list-unstyled li {
    display: block;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    padding: 0 10px 0 10px;
}

.list-unstyled li:hover {
    background-color: #E8F0FC;
} */

/*----------------RESULT PAGE----------------*/

.inner-pages .main-search-bar{
    align-items: center;
    margin-bottom: 20px;
}

.inner-pages .headings {
    height: 45vh !important;
}

.inner-pages .main-search {
    top: 70px;
}

.inner-pages .main-search-field {
    width: 100%;
    height: 200px;
}

.inner-pages .filter-search-bar {
    align-items: center;
}

@media screen and (max-width: 991px) {
    .inner-pages .main-search-field {
        height: 300px;
    }
}

.inner-pages .rui-search-tab {
    width: 45%;
    padding: 15px 0;
    border-radius: 0;
}

.inner-pages .search-icon {
    top: 50%;
}

.inner-pages .rui-input {
    padding: 10px 65px 10px 46px;
    border-radius: 0;
    margin: 0;
}

@media screen and (max-width: 991px) {
    .inner-pages .rui-input {
        margin: 10px;
    }
}

.inner-pages .btn-search {
    margin-left: -20px;
    color: #fff;
    background: none;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    font-size: 1.125rem;
    font-family: Museo-Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.inner-pages .btn-search:hover {
    background: none;
    font-size: 1.175rem;;
}

.inner-pages .btn-search p {
    text-transform: uppercase;
    margin: 0px;
    font-weight: 600; }

.inner-pages .btn-search a {
    text-decoration: none;
    color: #fff; }

.inner-pages .btn-search a:hover {
    color: #fff; }

@media screen and (max-width: 767px) {
    .inner-pages .btn-search {
        margin: 10px 0px 0px 0px;
    }
}

section.recently.portfolio.fivehouse {
    background: #fff;
    padding-top: 1rem;
}

.portfolio-items{
    margin-right: -7px;
    margin-left: -7px;
}
